.login{
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:flex-start;
}
.id{
  height:30px;
  margin:5px;
  display: flex;
  flex-grow: 1;
}
.pw{
  height:30px;
  margin:5px;
  display: flex;
  flex-grow: 1;
  
}
.btn{
  margin:5px;
  display:flex;
  align-items: center;
  flex-grow: 2;
  height:50px;
  width: 11.2rem;
}
.list{
  display:flex;
  flex-direction: column;
  list-style: none;
}

.item{
  margin-bottom: 0.5em;
}
